@import 'settings.scss';
@import 'mixins.scss';

.Button {
  font-family: $mediumFontFamily;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .015em;
  color: $white;
  background-color: $darkPurple;
  display: inline-block;
  border-radius: 2px;
  padding: .85em 1.4em .925em;
  transition: background-color .2s ease;
  text-align: center;

  &:hover,
  &:active {
    color: $white;
    background: $purple;
    text-decoration: none;
    cursor: pointer;
  }
}

.Button--disabled,
.Button[disabled] {
  background-color: $darkTurquoise;
  color: $darkerTurquoise;
  cursor: default;

  &:hover,
  &:active {
    background-color: $darkTurquoise;
    color: $darkerTurquoise;
    cursor: default;
  }
}

.Button--red {
  background-color: $red;
  color: $darkerPurple;

  &:hover,
  &:active {
    color: $darkerPurple;
    background: $lightRed;
  }
}

.Button--light {
  background-color: $lightTurquoise;
  color: $darkerPurple;

  &:hover,
  &:active {
    color: $darkerPurple;
    background-color: $lighterTurquoise;
  }
}

.Button--shadow {
  box-shadow: 2px 2px 0 0 $darkTurquoise;
}

.Button--darkShadow {
  box-shadow: 2px 2px 0 0 $black;
}

.Button--fullWidth {
  width: 100%;
}

.Button--small {
  font-size: 14px;
  padding: .5em .75em .55em;
}
