@import 'settings.scss';
@import 'mixins.scss';

.PageTitle {
  font-family: $boldFontFamily;
  text-transform: uppercase;
  font-size: 32px;
  text-shadow: 4px 4px 0 $darkTurquoise;
  letter-spacing: .025em;
  margin-bottom: .5em;
}

.PageTitle--blocky {
  background: $darkPurple;
  color: $turquoise;
  text-shadow: 4px 4px 0 $black;
  padding-top: .3em;
  padding-bottom: .35em;
  @include pagePadding;
}
