/* Colors
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$black: #000;

$white: #fff;

$gray: #E6E6E6;
$darkGray: #D7D7D7;

$lighterTurquoise: #D6FFFF;
$lightTurquoise: #A6FAF9;
$turquoise: #82E7E6;
$darkTurquoise: #44C8C6;
$darkerTurquoise: #226564;

$purple: #4B61B0;
$darkPurple: #293A74;
$darkerPurple: #1A2859;

$lightRed: #FF8A9C;
$red: #FF758A;
$darkRed: #E26174;


/* Base
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$backgroundColor: $turquoise;
$fontFamily: georgia, serif;
$fontSize: 14px;
$boldFontFamily: 'din condensed bold', sans-serif;
$mediumFontFamily: 'din condensed medium', sans-serif;
$color: $darkerPurple;
$lineHeight: 1.6;

/* Links
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$linkColor: $darkerPurple;
$linkActiveColor: $darkerPurple; // Used only on mobiles to indicate a tab
$linkHoverColor: $darkerPurple; // Used only on desktops

/* Media queries
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$xSmallBreakpoint: 320px;
$smallBreakpoint: 430px;
$mediumBreakpoint: 768px;
$largeBreakpoint: 1100px;
$xLargeBreakpoint: 1400px;
$xxLargeBreakpoint: 1700px;

$xSmallUp: "only screen";
$xSmallOnly: "only screen and (max-width: #{$xSmallBreakpoint})";
$smallUp: "only screen and (min-width: #{$smallBreakpoint})";
$smallOnly: "only screen and (min-width: #{$xSmallBreakpoint}) and (max-width: #{$smallBreakpoint})";
$mediumUp: "only screen and (min-width: #{$mediumBreakpoint})";
$mediumOnly: "only screen and (min-width: #{$smallBreakpoint}) and (max-width: #{$mediumBreakpoint})";
$largeUp: "only screen and (min-width: #{$largeBreakpoint})";
$largeOnly: "only screen and (min-width: #{$largeBreakpoint}) and (max-width: #{$xLargeBreakpoint})";
$xLargeUp: "only screen and (min-width: #{$xLargeBreakpoint})";
$xLargeOnly: "only screen and (min-width: #{$xLargeBreakpoint}) and (max-width: #{$xxLargeBreakpoint})";
$xxLargeUp: "only screen and (min-width: #{$xxLargeBreakpoint})";
$xxLargeOnly: "only screen and (min-width: #{$xxLargeBreakpoint}) and (max-width: 9999px)";
