<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Retsforbeholdet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://www.dr.dk/assets/css/005/base.css">
    <script src="http://www.dr.dk/assets/js/004/base.js"></script>
  </head>
  <body>
    <div id='root' class="AppWrapper">
      <%/*
        Show this loader while webpack is loading react and friends.
        When React has loaded it will remove .Waiting and its styles.
      */%>
      <style>
        body {
          background-color: #82E7E6;
        }

        .Waiting {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -4px;
          margin-left: -50px;
          display: block;
          width: 100px;
          height: 7px;
          text-align: center;
        }

        .Waiting i {
          background: #293A74;
        }

        .Waiting-one,
        .Waiting-two,
        .Waiting-three {
          vertical-align: top;
          display: inline-block;
          width: 7px;
          height: 7px;
          margin: 0 1px;
          border-radius: 50%;
          -webkit-animation: pulse 1s infinite ease-in-out;
          -moz-animation: pulse 1s infinite ease-in-out;
          animation: pulse 1s infinite ease-in-out;
          -webkit-animation-fill-mode: both;
          -moz-animation-fill-mode: both;
          animation-fill-mode: both;
        }

        .Waiting-one {
          -webkit-animation-delay: -.32s;
          -moz-animation-delay: -.32s;
          animation-delay: -.32s;
        }

        .Waiting-two {
          -webkit-animation-delay: -.16s;
          -moz-animation-delay: -.16s;
          animation-delay: -.16s;
        }

        @-webkit-keyframes pulse {0%,100%,80% {opacity:0} 40%{opacity:1 }}
        @-moz-keyframes pulse {0%,100%,80% {opacity:0} 40% {opacity:1}}
        @keyframes pulse {0%,100%,80% {opacity:0} 40% {opacity:1}}
      </style>

      <span class="Waiting">
        <i class="Waiting-one"></i>
        <i class="Waiting-two"></i>
        <i class="Waiting-three"></i>
      </span>
    </div><!-- /.App -->

    <!-- <script src="http://www.dr.dk/drdkTopbar/topbar.js?version=005"></script> -->

    <%if (!isProduction) { %>
      <script src="/client/bundle.js"></script>
    <% } else { %>
      <script src="/build/<%= assetPath('app.js') %>"></script>
    <% } %>
  </body>
</html>
