@import 'settings.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'base.scss';

.AppWrapper,
.AppWrapper > div {
  height: 100%;
}

.App {
  background-color: $turquoise;
  min-height: $appHeight;
  position: relative;
  transition: min-height .2s ease;
}
