@import 'settings.scss';
@import 'mixins.scss';

.Button {
  font-family: $mediumFontFamily;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .015em;
  color: $white !important;
  background-color: $darkerPurple;
  display: inline-block;
  border-radius: 2px;
  padding: .85em 1.4em .925em;
  transition: background-color .2s ease;
  text-align: center;

  &:hover,
  &:active {
    color: $white;
    background: $darkPurple;
    text-decoration: none;
    cursor: pointer;
  }
}

.Button--disabled,
.Button[disabled] {
  background-color: $darkTurquoise;
  color: $darkestTurquoise !important;
  cursor: default;

  &:hover,
  &:active {
    background-color: $darkTurquoise;
    color: $darkestTurquoise;
    cursor: default;
  }
}

.Button--red {
  background-color: $red;
  color: $darkerPurple !important;

  &:hover,
  &:active {
    color: $darkerPurple;
    background: $lightRed;
  }
}

.Button--yellow {
  background-color: $yellow;
  color: $darkerPurple !important;

  &:hover,
  &:active {
    color: $darkerPurple;
    background: $lightYellow;
  }
}

.Button--light {
  background-color: $lightTurquoise;
  color: $darkerPurple !important;

  &:hover,
  &:active {
    color: $darkerPurple;
    background-color: $lighterTurquoise;
  }
}

.Button--shadow {
  box-shadow: 2px 2px 0 0 $darkTurquoise;
}

.Button--darkShadow {
  box-shadow: 2px 2px 0 0 $black;
}

.Button--fullWidth {
  width: 100%;
}

.Button--small {
  font-size: 14px;
  padding: .5em .75em .55em;
}

.Button--rightArrowAtRight i {
  display: inline-block;
  width: 15px;
  height: 12px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAhCAMAAAB6BtLTAAAAk1BMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////ROyVeAAAAMHRSTlMAAgMJDA0UFRchJSgtMjg9PkRGR09QUVZyd4eOkZ26vsDDxcbMzdXd6PDx+Pn7/f5ORlseAAAAjUlEQVR42u3URxKCABBE0QFzxgAqBsyAgvb9T+eUsFV7Snf612/95WtVw82qxWJnB+DcJ7UHGLgPC2+kJh7kJj79XV4Lt8cXxbeCZ4Fozh5c167qAdjWqie0Pqiup6yeiTZOOBzJI7fTe94wLvFS3tc8lXjxx8VPaCyeBYtvwfoTHmujBJe50LntinzQHWitUD9DiKTJAAAAAElFTkSuQmCC);
  margin-left: .5em;
  position: relative;
  bottom: -1px;
}

.Button--rightArrowAtRight[disabled] i {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAhCAMAAAB6BtLTAAAAmVBMVEUAAAAAgIAAqlUcqo4VqpUUnZ0apqYYqp4WppsXqqIcpaUapqYXqqQaqKMbqKQZp6MdqaUaqaUaqKQdqaUaqKUdqaYZqqQcqqQbqaMbqqYcqaUcqqQdqaUcq6UcqaYbqqYcqaUcqqUdqqUcqqYcqqUdqqUdqaUdqqUdqqUdqqYdqaYdqqYdqaUdqqYdqqYcqqYcqqYcqqYdqqZBgtbUAAAAMnRSTlMAAgMJDA0UFRchJSgtMjg9PkRGR09QUVFWcneHjpGdur7Aw8XGzM3V3d3o8PH4+fv9/mtQ0F4AAACNSURBVHgB7dTHHsFgEEXxm+g9ShTRu0Rh3v/hDGaL+/3YyVn/1wc/KxvNJyUWe0sROdRJHSjmeSguvJA48d7Ziff/l+eixeZN++uTn7p37K2E61JV3RC2qeoOrdeq8wmrB9DaMYdneORXaq9r7gyP8bni1vAoxfYTFiNwwQh5bD8xzNSK5TgEnV/O4Itu1ZlTY25l+r4AAAAASUVORK5CYII=);
}

.Button--leftArrowAtLeft i {
  display: inline-block;
  width: 15px;
  height: 12px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAhCAMAAAB6BtLTAAAAk1BMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////ROyVeAAAAMHRSTlMAAgMJDA0UFRchJSgtMjg9PkRGR09QUVZyd4eOkZ66vsDDxcbMzdXd6PDx+Pn7/f7tEN23AAAAiUlEQVR42u3KRxKCABAAwcGEWQygYsYAGPf/rxMKrlq7pTftc/OB1mob1lDqn0UkctQ551my+JacuoZ8Cyx5+s8QXIv8iI9v7MI6me5ddPYOsBatAXBQ7wkw0+a0QWajy8kYckspxMPea50KpUXZT00UfrFHjql7WLqPoacuSvOLJCPUqu0KX/MExAhQP51mRHIAAAAASUVORK5CYII=);
  margin-right: .5em;
  position: relative;
  bottom: -1px;
}
