@import 'settings.scss';
@import 'mixins.scss';

.Button {
  font-family: $mediumFontFamily;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .015em;
  color: $white;
  background-color: $darkPurple;
  display: inline-block;
  border-radius: 2px;
  padding: .85em 1.4em .925em;
  transition: background-color .2s ease;
  text-align: center;

  &:hover,
  &:active {
    color: $white;
    background: $purple;
    text-decoration: none;
    cursor: pointer;
  }
}

.Button--disabled,
.Button[disabled] {
  background-color: $darkTurquoise;
  color: $darkerTurquoise;
  cursor: default;

  &:hover,
  &:active {
    background-color: $darkTurquoise;
    color: $darkerTurquoise;
    cursor: default;
  }
}

.Button--red {
  background-color: $red;
  color: $darkerPurple;

  &:hover,
  &:active {
    color: $darkerPurple;
    background: $lightRed;
  }
}

.Button--light {
  background-color: $lightTurquoise;
  color: $darkerPurple;

  &:hover,
  &:active {
    color: $darkerPurple;
    background-color: $lighterTurquoise;
  }
}

.Button--shadow {
  box-shadow: 2px 2px 0 0 $darkTurquoise;
}

.Button--darkShadow {
  box-shadow: 2px 2px 0 0 $black;
}

.Button--fullWidth {
  width: 100%;
}

.Button--small {
  font-size: 14px;
  padding: .5em .75em .55em;
}

.Button--rightArrow i {
  display: inline-block;
  width: 15px;
  height: 12px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAhCAMAAAB6BtLTAAAAk1BMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////ROyVeAAAAMHRSTlMAAgMJDA0UFRchJSgtMjg9PkRGR09QUVZyd4eOkZ26vsDDxcbMzdXd6PDx+Pn7/f5ORlseAAAAjUlEQVR42u3URxKCABBE0QFzxgAqBsyAgvb9T+eUsFV7Snf612/95WtVw82qxWJnB+DcJ7UHGLgPC2+kJh7kJj79XV4Lt8cXxbeCZ4Fozh5c167qAdjWqie0Pqiup6yeiTZOOBzJI7fTe94wLvFS3tc8lXjxx8VPaCyeBYtvwfoTHmujBJe50LntinzQHWitUD9DiKTJAAAAAElFTkSuQmCC);
  margin-left: .2em;
}

.Button--rightArrow[disabled] i {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAhCAMAAAB6BtLTAAAAk1BMVEUAAAAAAAAAVVUcVVUVVVUUYmIaWVkYYWEhZGQfZF0cYGAgYGAcYGAfYWEgZGAhZGAhY2MeYmIhYmIgZWEgZGEgY2MfZWIhZWIfZWIgZWMiZGIgZWMhZGQgZWMhZGQiZWMhZWQiZWMiZWQhZGMhZGMiZWQiZWMhZGMhZGMiZWQiZWMiZWQiZGMiZWQhZWQhZGMiZWSsgQYRAAAAMHRSTlMAAgMJDA0UFRchJSgtMjg9PkRGR09QUVZyd4eOkZ26vsDDxcbMzdXd6PDx+Pn7/f5ORlseAAAAjUlEQVR42u3URxKCABBE0QFzxgAqBsyAgvb9T+eUsFV7Snf612/95WtVw82qxWJnB+DcJ7UHGLgPC2+kJh7kJj79XV4Lt8cXxbeCZ4Fozh5c167qAdjWqie0Pqiup6yeiTZOOBzJI7fTe94wLvFS3tc8lXjxx8VPaCyeBYtvwfoTHmujBJe50LntinzQHWitUD9DiKTJAAAAAElFTkSuQmCC);
}
