@import 'settings.scss';
@import 'mixins.scss';

.Card {
  @include pagePadding;
  width: 100%;
}

.Card-inner {
  padding: 2em;
  height: 240px;
  background-color: #fff;
  box-shadow: 2px 2px 0 0 $dimmedTurquoise;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.45;
  color: $darkerPurple;

  @media #{$smallUp} {
    font-size: 15px;
  }

  @media #{$mediumUp} {
    font-size: 16px;
  }
}
