@import 'settings.scss';
@import 'mixins.scss';

.CategoryDone {
  padding-bottom: 1em;

  .PageTitle {
    margin-bottom: .4em;
  }

}//.CategoryDone

.CategoryDone-terms {
  @include pagePadding;
  margin-right: auto;
  margin-bottom: 1.5em;
  margin-left: auto;
  text-align: center;
  max-width: 375px;
}

.CategoryDone-next {
  text-align: center;
  font-size: 12px;
  font-family: $gibsonRegular;
  color: $purple;
  line-height: $lineHeight*.75;
  margin-bottom: 1.5em;

  &:after {
    content: "";
    display: block;
    width: 22px;
    height: 29px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABXCAMAAACHkWPyAAAATlBMVEUAAABVVVVAYJ9VZplVap9aaZ5XbZ1YbZ9aa6BYbKBabZ9ZbaFZbKJba6FabKFbbKFabKFbbKJabaFabKJbbKFabKJbbKFabKIBHGhbbaLPBw9WAAAAGHRSTlMAAwgPGCIvPT5OYHWJip6xwdDc3efw9/yeY7B1AAAA8ElEQVR42u3TSQ7CMBBE0cpM4sxk6vtfFAQSYrBVdoLY0G9dqt2H1eYAG734wYU46IVe6IVe6IVe6IVe6MV/Xmw24mAd68V3L2o5qAZaOaQFEHVyQBfhKu5ltz7GTTLITkMC3KWj7DKmeMgm2WHK8CSfJdic40WxSKClwJtylSBriQ+VBKlgYSSAgVUdEoZD6x+GS9R5h+EU975huCWDbxhu6egRBpFNNAwqn1kYXLGwMLhyZWFwFQ2DMzQMrhGLBkFa7zBoLjwMlgsPg+RCwuDSszycSRgkFxIGy4WFwZ2WWxgnECQXHgbPpcJBxoC4AGVEAl7anFRbAAAAAElFTkSuQmCC);
    background-size: 22px;
    background-repeat: no-repeat;
    margin: .75em auto 0;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 2;
    animation-name: bounce;
    transform-origin: center bottom;
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -8px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -7px, 0);
  }

  90% {
    transform: translate3d(0,-3px,0);
  }
}

.CategoryDone-nextCategory {
  @include pagePadding;
}
