@import 'settings.scss';
@import 'mixins.scss';

.Copy {
  p {
    @include pagePadding;
    margin-bottom: 1em;
  }

  code {
    padding: .2em;
    margin: 0;
    font-size: 85%;
    background-color: $lightTurquoise;
    border-radius: 2px;
  }

  h1, h2, h3, h4, h5, h6 {
    @include pagePadding;
  }

}//.Copy
