@import 'settings.scss';
@import 'mixins.scss';
@import './Button.scss';

.Done {
  background: $turquoise;
  position: relative;
  text-align: center;

  .PageTitle {
    margin-top: 1.5em;
    margin-bottom: .4em;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: tada;
  }

  .ShareButton {
    margin-bottom: 1.5em;

    @media #{$mediumUp} {
      position: absolute;
      top: -1.75em;
      right: 1.5em;
    }
  }

}

@keyframes tada {
  from { transform: scale3d(1, 1, 1); }
  10%, 20% { transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to { transform: scale3d(1, 1, 1); }
}

.Done-message {
  @include mediumParagraph;
  max-width: 400px;
  text-align: center;
  margin-right: auto;
  margin-bottom: 3em;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}

.Done-cta {
  display: none;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;

  a {
    @extend .Button;
    @extend .Button--shadow;
    text-align: left;
    position: relative;
    padding-left: 3.75em;
  }

  // Icon
  i {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAABdCAMAAADnjQo4AAAA51BMVEUBHGgBHGoBHG8BHHEBHHMBImgBInEBInwBL34BL4MQImoQK3EXHGgXL3MXP44XQpAcHGgcOYIcQpAcRZAhHGghImghL3olM3MoHGgoM3MoNnUrOXUuPHouUZcxPHoxTpQ0UZU0VZk0WZw2K2g2M2o2W582XZ85K2g5OXE5U5Q5W509M2g/Nmg/NmpBY6BDU41FU4tFVZBHW5VHaKJJQm9JV41JaKJLaqJNaqJOVYNOW41OY5xOaqJTV4BTbaJVY5VYbaJaX4VabaJbZo1bapBbapJbapdbbZxbbZ1bbZ9bbaBbbaL////TGjm7AAABDElEQVR4Ae3XR0/EMBAFYG9M77330DsETO8FwvD/fw8ZO4jMMWFyiPa908w7fLJWG8k2pJTvQrIVLly4cOHChQu3/dzP2Igscvk6kk1RQiSXUu6WdIc9NcGUIxLLv9yxmlzd89qlhZD5FVV3U3R67hrcxrtw4Zq+FqfTOmU3T9Q0N9F1+6dDpi513Q38f0u5cJN6XHuh5lonFjW3dRiWlwG13+Ej5nIoLGc8d99rfMfpnuGs8nznx97HSu7gXJ7ZZd8+GZ/R0+vtMO2Sxv2XvvZFycfVuK8Tvc0Uyw5X/d0iXXpf/+t6bqm0mx5Id5x+czUZmq6dZ+X328P50fHJDd6xcOHChQsXLly4RD/ZDWw/QMyDhwAAAABJRU5ErkJggg==);
    background-size: 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 32px;
    position: absolute;
    top: 1.05em;
    left: 1.4em;
  }

  em {
    font-family: $gibsonRegular;
    font-size: 14px;
    color: $yellow;
    display: block;
    margin-bottom: .1em;
  }

  b {
    font-family: $gibsonBold;
    text-transform: uppercase;
    display: block;
  }
}
