@import 'settings.scss';
@import 'mixins.scss';

.Entries {
  margin-bottom: 2em;

  @media #{$mediumUp} {
    margin-right: -3px;
    margin-left: -3px;
  }

  .Entry {
    margin-bottom: 12px;

    @media #{$mediumUp} {
      width: 50%;
      padding-right: 6px;
      padding-left: 6px;
    }

    // @media #{$mediumUp} {
    //   width: 33.33%;
    // }

    @media only screen and (min-width: 992px) {
      width: 33.33%;
    }
  }
}
