@font-face {
  font-family: 'din condensed bold';
  src: url('/fonts/PFDinTextCondPro-Bold.woff2') format('woff2'),
       url('/fonts/PFDinTextCondPro-Bold.woff') format('woff'),
       url('/fonts/PFDinTextCondPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'din condensed medium';
  src: url('/fonts/PFDinTextCondPro-Medium.woff2') format('woff2'),
       url('/fonts/PFDinTextCondPro-Medium.woff') format('woff'),
       url('/fonts/PFDinTextCondPro-Medium.ttf') format('truetype');
}
