@import 'settings';
@import 'mixins';

$MainNavigationHeight: 44px;

.MainNavigation {
  height: $MainNavigationHeight;
  background-color: $darkerPurple;
  overflow: hidden;
  margin-bottom: 1em;
}

.MainNavigation-tab {
  font-family: $gibsonSemiBold;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.MainNavigation-tab a {
  display: block;
  color: $turquoise;
  height: $MainNavigationHeight;
  background-color: $darkerPurple;
  z-index: 98;
  line-height: 44px;

  &:hover {
    color: $turquoise;
  }

  &:active {
    text-decoration: none;
    color: $lightTurquoise;
    background-color: $darkPurple;
  }
}

// Tab/pill widths
.MainNavigation-tab {
  width: 50%;
}

// Active tab
.MainNavigation-tab--active a {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: $turquoise;
  color: $darkerPurple;
  z-index: 99;

  &:hover {
    color: $darkerPurple;
  }

  &:active {
    color: $darkerPurple;
    background: $turquoise;
  }
}

.MainNavigation-tabPoints.MainNavigation-tab--active a {
  background: #fff;
}

// Quiz
.MainNavigation-tabQuiz a {
  border-radius: 0;
  border-top-right-radius: 2px;
}

.MainNavigation-tabQuiz.MainNavigation-tab--active a {
  border-top-left-radius: 2px;
  box-shadow: 2px 2px 0 $black;
}
