@import 'settings.scss';
@import 'mixins.scss';

.Progressbar {
  background: #fff;
  height: 8px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: inset 0 -2px 0 0 $dimmedTurquoise;
}

.Progressbar-fill {
  height: 8px;
  background-color: $purple;
  box-shadow: inset 0 -2px 0 0 $darkPurple;
  width: 0%;
  transition: width .3s ease;
}

.Progressbar--dimmed {
  background-color: $gray;
  box-shadow: inset 0 -2px 0 0 $darkGray;
}

.Progressbar--small {
  height: 6px;

  .Progressbar-fill {
    height: 6px;
  }
}
