@import 'settings.scss';
@import 'mixins.scss';

.SectionTitle {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 1.5em;
  margin-bottom: .85em;
  @include pagePadding;

  h2 {
    color: $purple;
    font-family: $gibsonSemiBold;
    border-bottom: 1px solid $purple;
    padding-bottom: .4em;
  }
}
