@import 'settings.scss';
@import 'mixins.scss';

.Step-progressbar {
  @include pagePadding;
  padding-bottom: 10px;
  width: 100%;
  background: $turquoise;
  position: absolute;
  bottom: 0;
}

.Step-skipToQuestion {
  margin-top: 2em;
  text-align: center;

  .Button {
    margin-bottom: .65em;
  }

  p {
    font-size: 14px;
    font-family: $mediumFontFamily;
    text-transform: uppercase;
    color: $dimmedTurquoise;

    .Icon {
      position: relative;
      bottom: -2px;
    }
  }
}
